<!doctype html>
<html lang="en" data-theme="dracula">
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body>
   
    <main class="bg-base-200">
      {{ content | safe }}
    </main>
    <script src="/assets/main.js"></script>
  </body>
</html>
